<app-header></app-header>
<div class="container">
    <div class="row">
        
        <div class="col-sm-3">
            <app-product-section></app-product-section>
        </div>
        <div class="col-sm-3">
            <app-product-section></app-product-section>
        </div>
        <div class="col-sm-3">
            <app-product-section></app-product-section>
        </div>
        <div class="col-sm-3">
            <app-product-section></app-product-section>
        </div>

        <hr>

        
    </div>

    <div class="row">
        <app-grid-list-example></app-grid-list-example>
    </div>
    <br>
</div>